@model Web.Models.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Amigos: @Model.QtdAmigos</h3>
</div>

<div class="text-center">
    <h3 class="display-4">Países: @Model.QtdPais</h3>
</div>

<div class="text-center">
    <h3 class="display-4">Estados: @Model.QtdEstados</h3>
</div>

